body {
  font-size: 100%;
  margin: 0 auto;
  max-width: 800px;
  line-height: 1.5;
  padding-top: 3%;
  padding-bottom: 5%;
  font-family: 'Kreon', serif;
  padding-left: 5%;
  padding-right: 5%;
  color: #171717;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

p {
    margin-bottom: 12px;
    text-align: justify;
}

h1, h2, h3 {
    font-weight: 800;
}

h1 {
    font-size: 34px;
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid Grey;
}

h3 {
    font-size: 28px;
    margin-bottom: 0px;
}

#header {
    margin-bottom: 32px;
    text-align: center;
}

#footer {
    margin-top: 64px;
    text-align: center;
}

#psaimg {
    width: 50%;
    height: 11%;
    padding-left: 18%;
    margin-top: 7%;
}

#renimg {
    width: 80%;
    height: 22%;
    padding-top: 8%;
}

.jobtable {
     text-align: left;
     display: table;
     width: 100%;
}

#thirdthren {
     font-weight: 550;
     width: 40%;
}

#secthren {
     font-weight: 550;
     width: 35%;
}

#secthpsa {
     width: 35%;
     font-weight: 550;
}

#thirdthpsa {
     width: 40%;
     font-weight: 550;
}

.Educ {
   text-align: left;
   display: table;
   width: 100%;
}

th {
    text-align: left;
}

#Educ1 {
     width: 60%;
     font-weight: 550;
     padding-left: 7%;
     margin-left: 0%;
     padding-bottom: 5.9%;
}

#Educ2 {
     width: 40%;
     font-weight: 500;
     padding-left: 0%;
}

#vkimg {
     padding-left: 1px;
}

#gitimg {
     padding-left: 5px;
}

@media screen and (max-width: 414px) {
  
  .jobtable {
     text-align: left;
     display: inline;
     width: 100%;
  }
  
  #psaimg {
    width: 70%;
    height: 6%;
    padding-left: 18%;
    margin-top: 7%;
    display: none;
}

  #renimg {
    width: 65%;
    height: 12%;
    display: none;
}

  #secthpsa {
     width: 100%;
     font-weight: 550;
    font-size: 80%;
  }

#thirdthpsa {
     width: 100%;
     font-weight: 550;
  font-size: 80%;
  }
  
  #thirdthren {
     font-weight: 550;
     width: 100%;
    font-size: 80%;
}

#secthren {
     font-weight: 550;
     width: 100%;
  font-size: 80%;
  }
  
  .Educ {
   text-align: left;
   display: table;
   width: 100%;
}

th {
    text-align: left;
}

#Educ1 {
     width: 100%;
     font-weight: 550;
     margin-left: 0%;
}

#Educ2 {
     width: 100%;
     font-weight: 500;
     padding-left: 0%;
  }
}

@media screen and (max-width: 375px) {
  
  .jobtable {
     text-align: left;
     display: grid;
     width: 100%;
  }
  
    #psaimg {
    width: 70%;
    height: 6%;
    padding-left: 18%;
    margin-top: 7%;
    display: none;
}
  
    #renimg {
    width: 65%;
    height: 5%;
    display: none;
}

  #secthpsa {
     width: 50%;
     font-weight: 550;
    font-size: 80%;
  }

  #thirdthpsa {
     width: 50%;
     font-weight: 550;
  font-size: 80%;
  }
  
  #thirdthren {
     font-weight: 550;
     width: 50%;
    font-size: 80%;
}

   #secthren {
     font-weight: 550;
     width: 50%;
     font-size: 80%;
  }
  
  .Educ {
   text-align: left;
   display: table;
   width: 100%;
}

th {
    text-align: left;
}

#Educ1 {
     width: 50%;
     font-weight: 550;
     margin-left: 0%;
}

#Educ2 {
     width: 50%;
     font-weight: 500;
     padding-left: 0%;
  }
}

