body {
  font-size: 100%;
  margin: 0 auto;
  max-width: 800px;
  line-height: 1.5;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Kreon', serif;
  padding-left: 5%;
  padding-right: 5%;
}

p {
    margin-bottom: 12px;
    text-align: justify;
}

h1, h2, h3 {
    font-weight: 800;
}

h1 {
    font-size: 34px;
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid Grey;
}

h3 {
    font-size: 20px;
    margin-bottom: 0px;
}

#header {
    margin-bottom: 32px;
    text-align: center;
}

#footer {
    margin-top: 64px;
    text-align: center;
}

#psaimg {
    width: 50%;
    height: 11%;
    padding-left: 20%;
    margin-top: 7%;
}

#renimg {
    width: 80%;
    height: 22%;
    margin-top: 16px;
}

.jobtable {
     text-align: left;
}

#thirdthren {
     font-weight: 550;
     width: 40%;
}

#secthren {
     font-weight: 550;
     width: 35%;
}

#secthpsa {
     width: 35%;
     font-weight: 550;
}

#thirdthpsa {
     width: 40%;
     font-weight: 550;
}

#vkimg {
     padding-left: 1px;
}

#gitimg {
     padding-left: 5px;
}

@media (max-width:1280px) {
  div.contentblock {width: 1200px}
  }

@media (max-width:1140px) {
  div.contentblock {width: 1024px}
  }

@media (max-width: 992px) {
  div.contentblock {width: 970px}
  }

@media (max-width: 412px) {
  div.contentblock {width: 400px}
    #renimg {
    width: 10%; 
    height: 5%;
  }
}

@media (max-width: 375px) {
  div.contentblock {width: 350px}
  }
